.component-container {
  display: flex;
  // justify-content: center;
  min-height: calc(100vh - 180px);
  padding-bottom: 60px;
}

.cabecalho-container {
  justify-content: center !important;
  // text-align: center;
}

table {
  width: 200%;
  background-color:white;
  // border-collapse:collapse;
}

td {
  border: 1px solid #333;
}

th.mat-sort-header-sorted {
  color: black;
}

// .mat-column-UFProcesso {
//   column-width: 50px !important;
// }
// .mat-column-AdvogadoOABMatriculaUF {
//   column-width: 50px !important;
// }
