.component-container {
  display: flex;
  // justify-content: center;
  min-height: calc(100vh - 180px);
  padding-bottom: 60px;
}

.cabecalho-container {
  justify-content: center !important;
  // text-align: center;
}

table {
  width: 200%;
  background-color:white;
  // border-collapse:collapse;
}

td {
  border: 1px solid #333;
  color: black;
}

.mat-row:hover {
    background:greenyellow;
    color:black;
}

//.mat-label:hover {
//  color:black;
//}

//ng-tns-c78-105 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid _mat-animation-noopable

//.mat-form-field-hide-placeholder {
//  color:black;
//}

 //mat-form-field-underline ng-tns-c78-102 ng-star-inserted

th.mat-sort-header-sorted {
  color: black;
}

 .mat-column-* {
   column-width: 20px !important;
 }
// .mat-column-AdvogadoOABMatriculaUF {
//   column-width: 50px !important;
// }
