<script lang="javascript" src="dist/xlsx.full.min.js"></script>
<app-breadcrumb page="lote"></app-breadcrumb>
<ng-form [formGroup]="form" (ngSubmit)="form.valid" novalidate>
  <div class="component-container">
    <div class="container-fluid">

     <div class="cabecalho-container">
        <h2>Cadastro de Acordo em Lote</h2>
        <p>Escolha o arquivo em formato CSV pré-definido. Após carregar, valide os campos e seus respectivos valores e clique no botão "Cadastrar."
          <br>
        </p>
        <h5><a id="download"> <u>Clique aqui</u> para baixar o Modelo da planilha. </a></h5>

        <input id="busca" name="busca" type="file" (change)="onFileChange($event)" accept=".csv,.xls,.xlsx" multiple="false" />

        <div id="output"></div>
        <br>
     </div>

      <!-- Sucess table -->
      <div class="card" *ngIf="dataSource && dataSource.data && dataSource.data.length > 0">
        <h3 class="card-header text-left font-weight-bold text-uppercase py-4">{{titulo}}
          <span class="float-right mb-3 mr-2">
            <a class="text-success">
              <button type="submit" class="btn btn-success" [disabled]="!form.valid" (click)="onSubmit()" >
                <i class="fa -fast-forward">Processar Planilha</i>
              </button>
            </a>
          </span>
        </h3>
        <div class="card-body">
           <span class="table-add float-right mb-3 mr-2">
             <a class="text-success" (click)="add()" label="Adiconar linha" alt="Adiconar linha">
               <mdb-icon fas icon="plus" size="2x"></mdb-icon>
             </a>
           </span>
           <div *ngIf="!form.valid" class="fs-3 fw-bold" style="color:red;">*A tabela contem campos invalidos ou sem preenchimento. </div>
          <div id="table" class="table-responsive  table-hover">
            <table mat-table id="tableSuccess" class="voxel-table mat-elevation-z8 table" matSort [dataSource]="dataSource">
              <ng-container matColumnDef="{{col}}" *ngFor="let col of displayedColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <span *ngIf="col !== '$$edit'">
                    {{getPropertyView(col)}}
                  </span>
                  <span *ngIf="col == '$$edit'">
                    Ações
                  </span>
                </th>
                <td mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                    <div *ngIf="col === '$$edit'" class="btn-edit" spanHeader >
                        <span class="btn-remove">
                          <button (click)="remove(i)" color="danger">Remover</button>
                        </span>
                    </div>
                    <div *ngIf="col != '$$edit'">
                        <mat-form-field>
<!--                          <mat-label>{{getPropertyView(col)}75}</mat-label>-->
                            <input matInput placeholder='{{col}}' formControlName='{{col}}' type="{{dataSchema[col]}}" id="{{col}}{{i}}" value="{{element[col]}}">
                          <mat-error *ngIf="checkError(col,'required', element )">
                              {{getPropertyView(col)}} is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-form>

