<script lang="javascript" src="dist/xlsx.full.min.js"></script>
<form [formGroup]="formulario" (ngSubmit)="formulario.valid" novalidate>
<div class="component-container">
  <div class="inicio-container">
    <h2>Cadastro de Acordo em Lote</h2>
    <p>Escolha o arquivo em formato CSV pré-definido. Após carregar, valide os campos e seus respectivos valores e clique no botão "Cadastrar."
      <br>
    </p>
    <h5><a id="download"> <u>Clique aqui</u> para baixar o Modelo da planilha. </a></h5>

     <input formControlName="busca" id="busca" name="busca" type="file" (change)="onFileChange($event)" accept=".csv,.xls,.xlsx" multiple="false" />

    <div id="output"></div>
    <br>

<br><br>

<ng-form id="formulario" name="formulario">
<!-- Sucess table -->
<div class="card" *ngIf="dataSource.data && dataSource.data.length > 0">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{titulo}}</h3>
 <div class="card-body">
   <div id="table" class="table-editable">
     <span class="table-add float-left mb-3 mr-2">
       <a class="text-success" (click)="add()" label="Adiconar linha" alt="Adiconar linha">
         <mdb-icon fas icon="plus" size="2x"></mdb-icon>
       </a>
     </span>
     <span class="table-add float-right mb-3 mr-2">
       <a class="text-success">
         <button type="submit" class="btn btn-success" [disabled]="!formulario.valid" (click)="register()" >
            <i class="fa -fast-forward">Processar Planilha</i>
         </button>
       </a>
     </span>
      <table #tableSuccess id="tableSuccess" class="voxel-table mat-elevation-z8 table" mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="{{col}}" *ngFor="let col of displayedColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span *ngIf="col !== '$$edit'">
              {{getPropertyView(col)}}
            </span>
            <span *ngIf="col == '$$edit'">
              Ações
            </span>
          </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <div *ngIf="!element.isEdit">
              <div class="btn-edit" *ngIf="col === '$$edit'; spanHeader" >
                <button id="editButton{{i}}" (click)="element.isEdit = !element.isEdit">Editar</button>
                <span class="btn-remove">
                  <button (click)="remove(i)" color="danger">Remover</button>
                </span>
              </div>
              <span #spanHeader>
                {{element[col]}}
              </span>
            </div>
            <div *ngIf="element.isEdit">
              <div class="btn-edit" *ngIf="col === '$$edit'; else dateField">
                <button (click)="confirmEdit($event); element.isEdit = !element.isEdit">Confirmar</button>
              </div>
              <ng-template #dateField>
                <mat-form-field appearance="fill" #elseDate *ngIf="dataSchema[col] === 'date'; else defaultField">
                  <mat-label>{{getPropertyView(col)}}</mat-label>
                  <input matInput [matDatepicker]="picker" value="{{element[col]}}" (blur)="changeValue(i, col, $event); updateList(i, col, $event)" value="{{element[col]}}">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </ng-template>
              <ng-template #defaultField>
                <mat-form-field>
                  <mat-label>{{getPropertyView(col)}}</mat-label>
                   <input matInput  id="{{getPropertyView(col)}}{{i}}" (blur)="updateList(i, col, $event)" (keyup)="changeValue(i, col, $event)" value="{{element[col]}}" type="{{dataSchema[col]}}">
                </mat-form-field>
              </ng-template>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
      </table>
    </div>
  </div>
</div>
<!-- Sucess table -->
</ng-form>

  </div>
</div>
</form>
